.imgModal{
 filter: blur(2px);
 position: absolute;
}

#cardLogin{
 width: 317px;
 height: 333px;
 align-items: center;
 justify-content: center;
 background-color: #F0F5EA;
 border-radius: 25px;
 position:absolute;
 top:25%;
 left: 20%;
 margin-top:-50px;
 margin-left:-50px;
}

.text_login1{
 text-align: center;
 font-family: 'Barlow Medium';
 font-size: 16px;
 margin-top: 30px;
}

.cardFace{
 background-color: #4267B2;
 width: 274px;
 height: 40px;
 border-radius: 20px;
 margin-top: -8px;
 margin-left: 20px;
}

.imgFace{
 width: 20px;
 height: 20px;
 margin-top: 10px;
 margin-left: 50px;
}

.text_facebook{
color: white;
font-size: 16px;
font-family: 'Barlow ';
margin-left: 10px;
margin-top: 7px;
}

.cardGoogle{
 background-color: white;
 width: 274px;
 height: 40px;
 border-radius: 20px;
 margin-top: -12px;
 margin-left: 20px;
}

.imgGoogle{
 width: 20px;
 height: 20px;
 margin-top: 10px;
 margin-left: 50px;
}

.textGoogle{
 color: black;
 font-size: 16px;
 font-family: 'Barlow ';
 margin-left: 10px;
 margin-top: 7px;
}

.cardApple{
 background-color: black;
 width: 274px;
 height: 40px;
 border-radius: 20px;
 margin-top: -10px;
 margin-left: 20px;
}

.imgApple{
 width: 20px;
 height: 20px;
 margin-top: 10px;
 margin-left: 50px;
}

.textApple{
 color: white;
 font-size: 16px;
 font-family: 'Barlow ';
 margin-left: 10px;
 margin-top: 7px;
 margin-left: 20px;
}

.cardEmail{
 background-color: #E691B0;
 width: 274px;
 height: 40px;
 border-radius: 20px;
 margin-top: -10px;
 margin-left: 20px;
}

.imgEmail{
 width: 20px;
 height: 20px;
 margin-top: 10px;
 margin-left: 50px;
}

.textEmail{
 color: white;
 font-size: 16px;
 font-family: 'Barlow ';
 margin-left: 10px;
 margin-top: 7px;
}

.text_ou{
 color: #BEBEBE;
 text-align: center;
 font-size: 12px;
 font-family: 'Barlow';
 margin-top: -15px;
}

.textCrie{
 text-align: center;
 font-family: 'Barlow Medium';
 font-size: 16px;
 margin-top: -10px;
}

.btn_entrar{
 margin-top: 520px;
 height: 50px;
 --background: #594036;
 filter: blur(1px);
}