<ion-app>
  <ion-menu class="menuLateralTamanho" side="start" menuId="first" contentId="main">
    <ion-content class="menuLateral">
      <ion-row>
        <ion-col>
          <img class="imgPerfil"
            src="../assets/Imagens/Screenshot_2021-01-25 Magrella • Café Pâtisserie ( magrellabolos) • Fotos e vídeos do Instagram@2x.png">
        </ion-col>
        <ion-col>
          <p class="text1">Olá,</p>
          <p class="text2">Tâmara</p>
          <p class="textEmail">tamara@gmail.com</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img class="imgUser" src="../assets/Imagens/user-avatar.svg">
        </ion-col>
        <ion-col>
          <p class="textPerfil">Meu Perfil</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img class="imgOrder" src="../assets/Imagens/Union 1.svg">
        </ion-col>
        <ion-col>
          <p class="textOrder">Pedidos</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img class="imgPag" src="../assets/Imagens/Union 3.svg">
        </ion-col>
        <ion-col>
          <p class="textPag">Pagamentos</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img class="imgAdress" src="../assets/Imagens/address.svg">
        </ion-col>
        <ion-col>
          <p class="textAdress">Endereços</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img class="imgSaves" src="../assets/Imagens/Group 16.svg">
        </ion-col>
        <ion-col>
          <p class="textSaves">Favoritos</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img class="imgSeg" src="../assets/Imagens/surface1.svg">
        </ion-col>
        <ion-col>
          <p class="textSeg">Segurança</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img class="imgHelp" src="../assets/Imagens/help.svg">
        </ion-col>
        <ion-col>
          <p class="textHelp">Ajuda</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img class="imgLogout" src="../assets/Imagens/logout.svg">
        </ion-col>
        <ion-col>
          <p class="textLogout">Logout</p>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>