.menuLateral{
--background: #E8D1D8;
}


.imgPerfil{
margin-top: 20px;
margin-left: 20px;
}

.text1{
font-family: 'Fraunces';
font-size: 20px;
color: #594036;
float: left;
margin-left: -55px;
}

.text2{
font-family: 'Barlow';
font-size: 20px;
color: #594036;
float: left;
margin-left: -55px;
margin-top: 45px;
}

.textEmail{
font-family: 'Barlow';
font-size: 10px;
color: #594036;
float: left;
margin-top: 70px;
margin-left: -62px;
}

.imgUser{
margin-top: 20px;
margin-left: 20px;
}

.textPerfil{
margin-left: -105px;
margin-top: 19px;
font-family: 'Barlow';
}

.imgOrder{
margin-top: 20px;
margin-left: 20px;
}

.textOrder{
margin-left: -105px;
margin-top: 19px;
font-family: 'Barlow';
}

.imgPag{
margin-top: 20px;
margin-left: 20px;
}
.textPag{
margin-left: -105px;
margin-top: 19px;
font-family: 'Barlow';   
}

.imgAdress{
margin-top: 20px;
margin-left: 20px;
}

.textAdress{
margin-left: -105px;
margin-top: 19px;
font-family: 'Barlow';
}

.imgSaves{
margin-top: 20px;
margin-left: 20px;    
}

.textSaves{
margin-left: -105px;
margin-top: 19px;
font-family: 'Barlow';
}

.imgSeg{
    margin-top: 20px;
    margin-left: 20px; 
}

.textSeg{
    margin-left: -105px;
    margin-top: 19px;
    font-family: 'Barlow';
}

.imgHelp{
    margin-top: 20px;
    margin-left: 20px; 
}

.textHelp{
    margin-left: -105px;
    margin-top: 19px;
    font-family: 'Barlow';
}

.imgLogout{
    margin-top: 20px;
    margin-left: 20px;
}

.textLogout{
    margin-left: -105px;
    margin-top: 19px;
    font-family: 'Barlow';
}